<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/rellax/1.0.0/rellax.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
<script type="text/javascript" src="{{ '/assets/js/app.js' | relative_url }}"></script>
<script type="text/javascript" src="{{ '/assets/js/scripts.js' | relative_url }}"></script>

<!-- begin tracking -->
<script src="https://www.crystalseas.com/cookieFormTracker/jquery.parsequery.min.js" type="text/javascript"></script>
<script src="https://www.crystalseas.com/cookieFormTracker/jquery.cookie.min.js" type="text/javascript"></script>
<script src="https://www.crystalseas.com/cookieFormTracker/cookie-script.min.js" type="text/javascript"></script>
<script src="https://www.crystalseas.com/js/roitrack.min.js" type="text/javascript"></script>
<script src="https://www.crystalseas.com/js/custom.js" type="text/javascript"></script>     
<!-- end tracking -->
