.site-nav {

    padding: 12px 36px 20px;
    font-size: 28px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #eee;
    z-index: 5;

    @media (max-width: 864px) {
        padding-bottom: 12px;
    }

    &__item {
        img {
            width: 190px;
            @media (max-width: 1200px) {
                width: 180px;
            }
        }
        display: inline-block;
        vertical-align: middle;
        margin-right: 12px;
        border-bottom: 2px solid transparent;
        letter-spacing: -1px;
        &--text {
            &:hover {
                border-color: #9f8f68;
            }
            @media (max-width: 1200px) {
                margin-right: 24px;
            }
        }
        &--img {
            margin-right: 16px;
            @media (max-width: 1200px) {
                margin-right: 0;
            }
        }
        &--last {
            margin-right: 0;
        }
    }

}

@media (max-width: 1200px) {
    .site-nav {

        &__logo-wrapper {
            display: block;
            @include clearfix;
            width: 100%;
            text-align: center;
        }

        &__item {
            margin-right: 0;
        }

        &__items {
            margin-top: 12px;
            display: none;
            flex-wrap: wrap;
            &.collapsed {
                display: flex;
            }
        }
        &__item-wrapper {
            flex: 1 1 50%;
        }
    }
}

@media (max-width: 480px) {

    .site-nav {
        padding-left: 12px;
        padding-right: 12px;
        &__items {
            flex-direction: column;
        }        
    }

}

.menu-toggler {
    display: none;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    position: relative;
    top: 6px;
    &:focus {
        outline: none;
    }
    .burger-icon {
        width: 1.5em;
        height: 1.5em;
    }
    @media (max-width: 1200px) {
        display: inline-block;
        float: left;
    }
}